
.slash-menu {
    @apply flex flex-col w-72 py-4 px-2 text-gray-900 bg-white rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1);
    &__group {
      @apply mb-1 px-4 text-sm text-gray-500;
    }
    &__item {
      @apply relative cursor-pointer inline-flex space-x-2 items-center px-4 py-2 text-sm font-medium rounded-md hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white
    }
    &--is-selected {
      @apply bg-gray-100 text-blue-700 dark:bg-gray-600 dark:text-white
    }
    &__icon {
      @apply h-4 w-4
    }
}
.ProseMirror {
  @apply p-2 !text-left;
  p {
    @apply m-0
  }
  >*+* {
    @apply !mt-2
  }

  ul {
    @apply ml-2
  }

  ol {
    padding: 0 1rem;
  }

  h1 {
    @apply text-[1.625rem] font-bold leading-[2.375rem] tracking-wider;
  }

  h2 {
    @apply text-[1.375rem] font-bold leading-[2.125rem] tracking-wide;
  }

  h3 {
    @apply text-xl font-bold tracking-wide;
  }

  h4 {
    @apply text-lg font-bold tracking-wide;
  }

  h5 {
    @apply text-base font-bold tracking-wide;
  }

  h6 {
    @apply text-base font-bold tracking-wide;
  }

  h7 {
    @apply text-base font-bold tracking-wide;
  }

  code {
    background-color: rgba(97, 97, 97, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
  }

  pre code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(13, 13, 13, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(13, 13, 13, 0.1);
    margin: 2rem 0;
  }
  
}